<html>

<head>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo|Homemade+Apple|Vollkorn" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MATERIALIZE -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
        integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
        integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.css" media="screen,projection" />
    
    <!-- GOOGLE -->
    <meta name="google-signin-client_id"
        content="522157652010-mrfol17im61nm16pr6rdet26ppjhmurs.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SWAL -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <!-- AXIOS CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- WYSIWYG -->
    <link rel="stylesheet" href="./css/style.css">

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<header>

</header>

<body>

    <div id="app">

        <!-- Navbar goes here -->
        <top-navbar 
        v-on:show-home="showHome"
        v-on:show-login="showLogin"
        v-on:show-register="showRegister"
        v-on:show-user-article-page="showUserArticle"
        v-on:show-all-user-articles="showAllUserArticles"
        v-on:show-write-page="showWritePage"
        v-on:sign-out="signOut"
        v-bind:is-login="isLogin"
        v-bind:search-box="searchBox"
        >
        <div class="input-field">
            <input v-model="searchBox" id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
        </top-navbar>
        <!-- homediv -->
        <slider-home
        v-if="currentPage == 'homepage'"
        ></slider-home>
        

        <!-- Page Layout here -->
        <!-- Side Nav -->

        <!-- Login FORM -->
        <login-form
        v-if="currentPage == 'loginPage'"
        v-on:sign-in="userSignIn"
        v-bind:is-login="isLogin">
        </login-form>
        <!-- Registration form -->
        <register-form
        v-if="currentPage == 'registrationPage'"
        v-if="registration"
        v-on:success-register="showLogin"
        ></register-form>
        <div class="row" style="display: flex; margin-top: -10px; justify-content: center">
            <div v-show="currentPage == 'loginPage' || currentPage == 'registrationPage'"  class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>


        <!-- WYISWYG AREA -->
        <div v-if="currentPage == 'writePage' || currentPage == 'editPage'" class='writing-area'>
            <div class="container">
                <h3 class="text center">Write Your Story</h3>
                <input v-on:change="getImage" type="file">Upload</input><br>
                <center><img v-bind:src="imageurl" style="max-width:50%" /></center>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Title" v-model="articleTitle" id="title" type="text" class="validate">
                        <label for="Title"></label>
                    </div>
                </div>
                <wysiwyg v-model="articleBody"/>
            </div>
            <div class="center">
                <br>
                <div>
                    <div v-if="currentPage == 'writePage'" >
                    <button @click.prevent="postArticle"
                        class="btn black waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    </div>
                    <div v-else-if="currentPage == 'editPage'" >
                    <button @click.prevent="patchArticle(currentArticle)"
                        class="btn black waves-effect waves-light" type="submit" name="action">Edit Post
                        <i class="material-icons right">send</i>
                    </button>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- MODAL VIEW ARTICLE -->
        <modal-view-article
        v-bind:imageurl="imageurl"
        v-bind:viewed-article-title="viewedArticleTitle"
        v-bind:viewed-article-body="viewedArticleBody">
        </modal-view-article>
        <!-- Modal Structure -->
       

        <!-- CARDS ON ALL ENTRIES -->
        
        <my-article
        v-if="currentPage == 'userArticlesPage' || currentPage == 'allArticlesPage'"
        v-bind:posts="posts"
        v-bind:current-page="currentPage"
        v-on:remove="removeArticle"
        v-bind:get-edit-post="getEditPost"
        v-bind:all-user-articles-page="showAllUserArticles"
        v-bind:user-articles-page="showUserArticle"
        v-bind:filter-by-anything="filterByAnything"
        v-bind:get-post="getPost"
        ></my-article>

        <!-- FOOTER -->
        <footer-div v-if="currentPage !== 'homepage'" > </footer-div>

        <!-- Side Nav Bar Collapse -->
        <sidenav
        v-if="isLogin"
        v-bind:loc="loc"
        v-bind:is-login="isLogin"
        v-bind:username="username"
        v-bind:show-read="showUserArticle"
        v-bind:show-write="showWritePage"
        v-bind:sign-out="signOut"
        v-bind:quotes="quotes"
        ></sidenav>
        
    </div>
</div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./materialize/js/materialize.js"></script>
    <script src="./js/components/footer.js"></script>
    <script src="./js/components/vueWysiwyg.js"></script>
    <script src="./js/components/sliderhome.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./js/components/navbar.js"></script>
    <script src="./js/components/userArticles.js"></script>
    <script src="./js/components/login-form.js"></script>
    <script src="./js/components/register.js"></script>
    <script src="./js/components/sidenav.js"></script>
    <script src="./js/components/modalViewArticle.js"></script>
    <script src="./js/main.js"></script>
    <script>
        const slider = document.querySelectorAll('.slider')
        M.Slider.init(slider, {
            indicators: false,
            height: 655
        })
   
        $('.button-collapse').sideNav({
            menuWidth: 300,
            edge: 'left',
            closeOnClick: true,
            draggable: true
        });

        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });
    </script>

</body>

</html>